
body{
    background: black;
    color: #F8F8F8;
}

.navbar
{
    background-color: #380000;
}

.item{
  background-color: black;
  height:425px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

/*.carouselContainer{
    height: 100%;
}*/

.deco{
    width: 35%;
}

.decoArea{
    width: 74%;
}

.recipePadding{
    padding: 20px;
}

.img-centered{
    width: 100%;
}
.text-large-ul{
    font-size: 32px;
/*    font-family: 'Fascinate Inline', cursive;*/
}

.title{
    font-size: 32px;
/*    font-family: 'Fascinate Inline', cursive;*/
}

#recCase{
    padding: 20px;
    color: white;
    margin: 10px auto;
}

#button-div{
    margin: 5px;
    float: right;
    padding-right: 15px;
}

#button{
    margin: 5px;
}

#button-cancel{
    margin: 5px 25px 5px 5px;
}
