body{
	background-color: white;
	color: black;
}

h4{
	padding-left: 20px;
}

#confirmRecipe{
    background-color: #E0E0E0;
}

#glassType{
    color: black;
}

#newRecipeHeader{
    padding-left: 15px
}