!!!5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Fredericka+the+Great', rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/error_style.css')
    style
      body{
      background-color:black;
      background-image: url('/img/404wars2.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      font-family: 'Fredericka the Great', cursive;
      }
    meta(charset='utf-8')
    title 404 Error, Page not found!
  body
