!!!5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Fredericka+the+Great', rel='stylesheet' type='text/css')    
    link(rel='stylesheet', href='/stylesheets/internal/error_style.css')
    meta(charset='utf-8')
    title 500error
    style
      body{
          background-image: url('/img/woodBackground.jpg');
          font-family: 'Fredericka the Great', cursive;
      } 
      .panel{
          height: 24px;
          background: rgba(0,0,0,0.8);
      } 
    meta(charset='utf-8')
    title 500 Error!        
  body
    .col-lg-12
      img(src='/img/500error.png', width='70%')
    .col-lg-12.panel
      span We seem to be having some tecnical difficulties.
