extends layout

block content
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Project name
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Cocktails
                li
                  a(href='#about') Food
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Cocktail List
                    b.caret
                  ul.dropdown-menu
                    each recipe, i in recipelist
                      li
                        = recipe.name	

    #myCarousel.carousel.slide
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='/img/clothing.jpg', data-src='holder.js/100%x80%/auto/#777:#7a7a7a/text:First slide', alt='First slide')
          .container
            .carousel-caption
              h1 Example headline&period;
              p
                | Cras justo odio&comma; dapibus ac facilisis in&comma; egestas eget quam&period; Donec id elit non mi porta gravida at eget metus&period; Nullam id dolor id nibh ultricies vehicula ut id elit&period;
              p
                a.btn.btn-large.btn-primary(href='#') Sign up today
        .item
          img(src='data:image/png;base64,', data-src='holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide', alt='Second slide')
          .container
            .carousel-caption
              h1 Another example headline&period;
              p
                | Cras justo odio&comma; dapibus ac facilisis in&comma; egestas eget quam&period; Donec id elit non mi porta gravida at eget metus&period; Nullam id dolor id nibh ultricies vehicula ut id elit&period;
              p
                a.btn.btn-large.btn-primary(href='#') Learn more
        .item
          img(src='data:image/png;base64,', data-src='holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide', alt='Third slide')
          .container
            .carousel-caption
              h1 One more for good measure&period;
              p
                | Cras justo odio&comma; dapibus ac facilisis in&comma; egestas eget quam&period; Donec id elit non mi porta gravida at eget metus&period; Nullam id dolor id nibh ultricies vehicula ut id elit&period;
              p
                a.btn.btn-large.btn-primary(href='#') Browse gallery
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    // /.carousel
    //
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(src='data:image/png;base64,', data-src='holder.js/140x140', alt='Generic placeholder image')
          h2 Heading
          p
            | Donec sed odio dui&period; Etiam porta sem malesuada magna mollis euismod&period; Nullam id dolor id nibh ultricies vehicula ut id elit&period; Morbi leo risus&comma; porta ac consectetur ac&comma; vestibulum at eros&period; Praesent commodo cursus magna&period;
          p
            a.btn.btn-default(href='#') View details &raquo;
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='data:image/png;base64,', data-src='holder.js/140x140', alt='Generic placeholder image')
          h2 Heading
          p
            | Duis mollis&comma; est non commodo luctus&comma; nisi erat porttitor ligula&comma; eget lacinia odio sem nec elit&period; Cras mattis consectetur purus sit amet fermentum&period; Fusce dapibus&comma; tellus ac cursus commodo&comma; tortor mauris condimentum nibh&period;
          p
            a.btn.btn-default(href='#') View details &raquo;
        // /.col-lg-4
        .col-lg-4
          img.img-circle(src='data:image/png;base64,', data-src='holder.js/140x140', alt='Generic placeholder image')
          h2 Heading
          p
            | Donec sed odio dui&period; Cras justo odio&comma; dapibus ac facilisis in&comma; egestas eget quam&period; Vestibulum id ligula porta felis euismod semper&period; Fusce dapibus&comma; tellus ac cursus commodo&comma; tortor mauris condimentum nibh&comma; ut fermentum massa justo sit amet risus&period;
          p
            a.btn.btn-default(href='#') View details &raquo;
        // /.col-lg-4
      // /.row
      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | First featurette heading&period;
            span.text-muted It&apos;ll blow your mind&period;
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla&period; Vestibulum id ligula porta felis euismod semper&period; Praesent commodo cursus magna&comma; vel scelerisque nisl consectetur&period; Fusce dapibus&comma; tellus ac cursus commodo&period;
        .col-md-5
          img.featurette-image.img-responsive(src='data:image/png;base64,', data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='data:image/png;base64,', data-src='holder.js/500x500/auto', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Oh yeah&comma; it&apos;s that good&period;
            span.text-muted See for yourself&period;
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla&period; Vestibulum id ligula porta felis euismod semper&period; Praesent commodo cursus magna&comma; vel scelerisque nisl consectetur&period; Fusce dapibus&comma; tellus ac cursus commodo&period;
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly&comma; this one&period;
            span.text-muted Checkmate&period;
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla&period; Vestibulum id ligula porta felis euismod semper&period; Praesent commodo cursus magna&comma; vel scelerisque nisl consectetur&period; Fusce dapibus&comma; tellus ac cursus commodo&period;
        .col-md-5
          img.featurette-image.img-responsive(src='data:image/png;base64,', data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | &copy; 2013 Company&comma; Inc&period; &middot;
          a(href='#') Privacy
          | &middot;
          a(href='#') Terms
    // /.container
    //
    // Placed at the end of the document so the pages load faster
    script(src='../../assets/js/jquery.js')
    script(src='../../dist/js/bootstrap.min.js')
    script(src='../../assets/js/holder.js')
