doctype 5
html
  head
    title= title
    script(src='/js/jquery-2.0.3.min.js')
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")    
    link(rel='stylesheet' href='/stylesheets/external/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/external/bootstrap-responsive.min.css')
    link(rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")    
    link(href='http://fonts.googleapis.com/css?family=Fascinate+Inline' rel='stylesheet' type='text/css') 	
    link(rel='stylesheet' type="text/css" href='/stylesheets/internal/base.css') 
    link(rel='stylesheet' href='/stylesheets/external/chosen.min.css') 
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/javascript.js')
    script(src='/javascripts/chosen.jquery.min.js')     
  body
    block content