doctype 5
html
  head
    title= title
    script(src='/js/jquery-2.0.3.min.js')
    link(rel='stylesheet' type="text/css" href='/stylesheets/base.css')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet")    	
    script(src='/js/bootstrap.min.js')
    script(src='/js/javascript.js')
    script 
      $(document).ready(function() {        
        $('.carousel').carousel({
          //- interval: 3000
        });
      });    	
    //script(type='text/javascript' src="http://imsky.github.io/holder/holder.js")    	
  body
    block content