doctype 5
html
  head
    title= title
    script(src='/js/jquery-2.0.3.min.js')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/bootstrap.responsive.min.css') 	
    link(rel='stylesheet' type="text/css" href='/stylesheets/base.css')
    link(rel='stylesheet' type="text/css" href='/select2-3.4.3/select2.css')  
    link(href='http://fonts.googleapis.com/css?family=Fascinate+Inline' rel='stylesheet' type='text/css') 
    script(src='/js/bootstrap.min.js')
    script(src='/js/javascript.js')
    script(src='/select2-3.4.3/select2.js')      
    script 
      $(document).ready(function() {        
        $('.carousel').carousel({
          interval: 4000
        });
      });

      $(document).ready(function() { $("#typeOf").select2(); });  
      $(document).ready(function() { $("#glass").select2(); });    	   	
  body
    block content