extends layout

block content
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Project name
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Cocktails
                li
                  a(href='#about') Food
                li
                  a(href='newrecipe') Add a Recipe                  

        hr.featurette-divider
        .row.featurette
          .col-md-7
            h2.featurette-heading
              h1=title
              span.text-muted anything goes
            p.lead
              p
              each drink, i in my_recipe
                -console.log(drink.ingredient)
                p  
                div#recipeDiv
                  p.text-large-ul.text-center= drink.name 
                div#recipeDiv
                  | Ingredients  
                each ingred in drink.ingredient   
                  div#recipeDivIngred
                    = ingred
                  p
                div#recipeDiv
                  p.text-center= drink.note
          .col-md-5
            img.featurette-image.img-responsive(src='data:image/png;base64,', data-src='holder.js/500x500/auto', alt='Generic placeholder image')
        hr.featurette-divider

        footer
          p.pull-right
            a(href='#') Back to top
          p
            | &copy; 2013 Company&comma; Inc&period; &middot;
            a(href='#') Privacy
            | &middot;
            a(href='#') Terms          