extends layout

block content

    script(src='/socket.io/socket.io.js')

    nav.navbar.navbar-default.nav-fixed-top(role="navigation")
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.title(href='#') My Recipes
      .navbar-collapse.collapse
        ul.nav.navbar-nav                
          li.dropdown
            a.dropdown-toggle#cocktailList(href='#', data-toggle='dropdown')
              | Cocktail List
              b.caret
            ul#dropCockails.dropdown-menu
          li.dropdown
            a.dropdown-toggle#foodList(href='#', data-toggle='dropdown')
              | Food List
              b.caret
            ul#dropFood.dropdown-menu
          li
            a(href='../newrecipe') Add a Recipe 
        #buttonDiv    
          input#tags   
    #myCarousel.carousel.slide.carouselContainer
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='/img/barBottle.jpg', alt='First slide')
          .container
            .carousel-caption
              h1 Recipes for drink and food
              p
                | This page was put together as a personal recipe collection. Please feel free to enjoy what you find.
        .item
          img(src='/img/roe.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Share your favourite dish or choose something somebody else has shared
              p
                | These are the finer things in life
        .item
          img#imgSize(src='/img/summer-drinks.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 One more for good measure
              p
                | Oh la la!
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
      a.right.carousel-control(href='#myCarousel', data-slide='next')

    .container.marketing.recipePadding

      .row
        .col-md-3#col2padding
        .col-md-6  
          #recipeDisplay  
        .col-md-3#col2padding
   
      footer
        p.pull-right
          a(href='') Back to top
        p
          | &copy; 2013 greeGree Company&comma; Inc&period;
    